.jumbotron-item-main {
  height: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jumbotron-item-main-message {
  width: 60%;
  text-align: center;
}

.jumbotron-item-main-message p {
  font-size: 1.6rem;
}
.jumbotron-item-main-message h1 {
  font-size: 2.4rem;
}

.jumbotron-item-main-image {
  width: 40%;
  height: 100%;
  /* background-image: url("../img/eisenhower.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */

  /* 위처럼쓰면 기니까 단축속성을 사용! background-size 전에는 꼭 / 를 넣어줘야함 */
  background: url("../img/eisenhower.png") no-repeat center / contain;
}

.jumbotron-item-sub {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
}
